body{
    background: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap:2rem;
}

.container{
    background-color: lightgrey;
    overflow: hidden;
    border-radius: 5px;
    max-width: 15rem; 
    
}

.name{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color : whitesmoke;
    justify-content: center;
}

.info{
    padding: 10px;
}

.flag{
    height: 75%;
    width: 100%;
    height: 5rem;
    align-self: center;
    
}

.btn{
    align-items: center;
}